/* Main container which form is placed in, center the form */
div#content__container {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 900px;
  height: 600px;
  background-size: cover;
}

/* set size and position of fruit ninja logo */
img#main__logo {
  width: 300px;
  height: 128px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 80px;
}

/* load custom font to be used */
@font-face {
  font-family: 'got';
  src: url('../assets/font/go3v2.otf');
  /*URL to font*/
}

div#login__error__text {
  font-family: 'got';
  color: #FF0000;
  display: none;
  font-size: 1.6em;
  text-align: left;
}

/* change placeholder text color in input fields */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f2d071;
}

form {
  margin: auto;
  display: inline-block;
}

/* Style input fields label */
label {
  font-family: 'got';
  font-size: 2em;
  text-align: left;
  display: block;
  color: #F7C32C;
}

/* all input elements */
input {
  color: #F7C32C;
  font-size: 1.4em;
  padding: 6px;
}

/* style text input (username input) */
input[type="text"] {
  outline: none;
  padding: 6px;
  background-color: rgba(132, 69, 35, 0.5);
  border-color: rgba(132, 69, 35, 0.5);
}

input[type="submit"] {
  /*margin-left: 2em;*/
  font-family: 'got';
  margin-top: 0.5em;
  font-size: 1.4em;
  padding: 10px;
  display: block;
  background-color: rgba(112, 57, 28, 0.8);
  border-color: rgba(112, 57, 28, 0.8);
}
