div#scores__container {
  display: block;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  width: 900px;
  height: 600px;
  background-size: cover;
}

@font-face {
  font-family: 'got';
  src: url('../assets/font/go3v2.otf');
  /*URL to font*/
}

#score__wrapper {
  margin-top: 1.5em;
  display: inline-block;
  height: 420px;
  background-color: rgba(132, 69, 35, 0.7);
  width: 600px;
}

div.score__heading {
  font-family: 'got';
  font-size: 3em;
  color: #F7C32C;
  background-color: #6b3114;
  padding: 6px;
}

div.player__score__row {
  font-family: 'got';
  display: block;
  font-size: 2.8em;
}

div.player__name {
  display: inline-block;
  color: #f2d071;
  letter-spacing: 2px;
}

div.player__score {
  display: inline-block;
  color: #21d20f;
  letter-spacing: 2px;
}

#user__score {
  padding: 12px;
  font-size: 1em;
}

button {
  background-color: #6b3114;
  font-family: 'got';
  border-color: #F7C32C;
  color: #F7C32C;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* Add some spacing on first div */
#global_users__highscore > div {
  margin-bottom: 0.4em;
}
